<h2 class="text-center title">Perfil</h2>
<form [formGroup]="formContenedor" class="container card shadow" (ngSubmit)="crearContenedor()">
    <div class="container_bloque">
        <div class="container_bloque_parte1">
            <div class="container_bloque_parte1_datos">
                <div class="item">
                    <h4 for="nombre" class="text-secondary text-staatliches mb-0">Nombre</h4>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre" [attr.disabled]='disabledForm ? true : null'>
                </div>
                <div class="item">
                    <h4 for="email" class="text-secondary text-staatliches mb-0">Correo</h4>
                    <input type="text" class="form-control" id="email" formControlName="email" [attr.disabled]='disabledForm ? true : null'>
                </div>
            </div>
            <div class="container_bloque_parte1_datos">
                <div class="item">
                    <h4 for="telefono" class="text-secondary text-staatliches mb-0">Telefono</h4>
                    <input type="text" class="form-control" id="telefono" formControlName="telefono" [attr.disabled]='disabledForm ? true : null'>
                </div>
                <div class="item">
                    <h4 for="direccion" class="text-secondary text-staatliches mb-0">Direccion</h4>
                    <input type="text" class="form-control" id="direccion" formControlName="direccion" [attr.disabled]='disabledForm ? true : null'>
                </div>
            </div>
        </div>
        <div class="container_bloque_imagen">
            <i class="bi bi-person-square" style="font-size: 8em;"></i>
        </div>
    </div>
    <div class="container_bloque_permisos">
        <div>
            <h4 class="text-secondary text-staatliches mb-0">Permisos</h4>
            <div class="d-flex">
            <p class="ml-2" *ngFor='let permiso of usuario.permisos'>{{permiso.descripcion}}</p>
            </div>
        </div>
        <button class="btn btn-primary btn-lg" type="submit" [disabled]="!formContenedor.valid">Guardar</button>
    </div>
</form>
<app-toast></app-toast>
