<div *ngIf='!cargando'>
  <div class="m-4" routerLink="../" role="button">
      <h5><span><i class="bi bi-arrow-left"></i></span>VOLVER</h5>
  </div>
  <div class="">        
    <div class="title">
        <h2 class="mb-0">Distribuidoras</h2>
        <div class="">
          <button class="btn btn-outline-primary" routerLink='nueva-distribuidora'>Nueva Distribuidora</button>
        </div>
    </div>
    <div class="">
        <table class="table table-responsive table-hover text-center">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Contacto</th>
                <th scope="col">Dirección</th>
                <th scope="col">Cuit</th>
                <th scope="col">Representante</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let distribuidora of distribuidoras; let i = index'>
                    <th scope="row">{{i + 1}}</th>
                    <td>{{distribuidora.nombre}}</td>
                    <td>{{distribuidora.contacto}}</td>
                    <td>{{distribuidora.direccion}}</td>
                    <td>{{distribuidora.cuit}}</td>
                    <td>{{distribuidora.representante}}</td>
                    <td class="d-flex">
                        <div class="mr-4">
                          <a class="text-primary" role="button" routerLink='editar-distribuidora/{{distribuidora.id_distribuidora}}'>
                            <i class="bi bi-pencil"></i>
                          </a>
                        </div>
                        <div>
                          <!-- <a class="text-danger" role="button" (click)=eliminar(distribuidora)> -->
                          <a class="text-danger" role="button" (click)=open(eliminarDistribuidoraModal,distribuidora.id_distribuidora)>
                            <i class="bi bi-trash"></i>
                          </a>
                        </div>
                      </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center h-100" *ngIf='cargando'>
  <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>
<ng-template #eliminarDistribuidoraModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar Distribuidora</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ">
    <div class="detalle-eliminar_jaula">
      <i class="bi bi-exclamation-triangle m-2" style="font-size: 2em;"></i>
      <label for="tipo" class="form-label m-4">¿Está seguro que desea eliminar la distribuidora de forma permanente?</label>
      <p class="text-danger">(!) Esta acción es irreversile: se borraran productos y stock asociados a ella.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-lg" (click)=eliminar() *ngIf='!disabledForm'>Eliminar</button>
    <button class="btn btn-primary btn-lg" type="button" disabled *ngIf='disabledForm'>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Cargando...
    </button>
    <button class="btn btn-secondary btn-lg" (click)="modal.dismiss('Cross click')">Cancelar</button>
  </div>
</ng-template>
  <app-toast></app-toast>