.contenido__title{
    margin: 2em;
    padding: 1em;
    margin-bottom: 0px;
    padding-bottom: 0px ;
}
.contenido__form{
    margin-top: 5vh;
    padding: 1em;
}
.contenido__form > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__buttons{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    max-width: 50vw;
}
.content__buttons > button {
    align-self: center;
}
.contenido__form-item{
    display: flex;
    max-width: 50vw;
}
.item-datos{
    width: 24vw;
}
.item-datos > label{
    margin-bottom: .2rem
}
.item-datos_representante{
    margin: 1em;
}
.contenido__form--datos{
    width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1vw;
    row-gap: 3vh;
}

.form--field-invalid {
    font-size: 0.80em;
    color: red;
    margin-bottom: 0.1vh;
}


@media screen and (max-width: 360px){
    .contenido__title{
        margin: 1em;
        padding: 0px;
        margin-bottom: 0px;
    }
    .contenido__form{
        margin: 0 1em;
        padding: 0px;
    }
    button{
        width: 100%;
        margin-bottom: 1em;
    }
    .content__buttons{
        display: block;
    }
    .contenido__form-item{
        display: block;
    }
    .item-datos,.item-datos1{
        width: 90%;
    }
}

@media screen and (max-width: 1024px){
    .contenido__form{
        margin-top: 1vh;
    }
    .contenido__form--datos{
        width: 90vw;
        justify-content: center;
    }
    .item-datos{
        width: 90vw;
    }
    .content__buttons{
        width: 90vw;
    }
    .content__buttons > button{
        align-self: center;
    }
}

