form{
    padding: 0 4em 1em 4em;
    margin:  0 3em ;
    padding-top: 0px;
}

.form--container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form--container > form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    row-gap: 2vh;
}

.form--container > form > button {
    max-width: 8vw;
    align-self: flex-start;
}

.form--field {
    max-width: 50vw;
}

.seguimiento{
    padding-left: 1vw;
}

.form--field-invalid {
    font-size: 0.80em;
    color: red;
    margin-bottom: 0.1vh;
}

@media screen and (max-width: 360px){
    button{
        width: 90%;
        margin: 1em;
    }
    form{
        padding: 0 1em;
        margin:  0 0.5em;
    }   
}